extends ./layout
block content
  b-container(@reload="reloadData")#app
    b-row
      b-col
        b-link(href="#" to="/")
          img(src=`${process.env.STATIC_ASSETS_PATH}/images/logo_1.jpg` width="200px")
      
    b-row
      b-col
        router-view

append endbody
  script(src=`${process.env.STATIC_ASSETS_PATH}/javascripts/ui/BrowseApp.js` type="module")