extends ./layout
block content
  b-container(@reload="reloadData")#app
    b-row
      b-col
        b-link(href="#" to="/")
          img(src=`${process.env.STATIC_ASSETS_PATH}/images/logo_1.jpg` width="200px")
      b-col(cols="8")
        b-nav(variant="light" justified tabs)
          b-nav-item(to="/product" :active="selectedMenu==='product'") Product
          b-nav-item(to="/family" :active="selectedMenu==='family'") Family
          b-nav-item(to="/equipment" :active="selectedMenu==='equipment'") Equipment
          b-nav-item(to="/group" :active="selectedMenu==='group'") Group
        b-form
          b-form-input#primary_search(placeholder="Search")
        
      b-col
    
    b-row
      b-col
        b-nav(variant="light" vertical class="w-100")
          b-nav-item(to="/product/new" active) Add Product
          b-nav-item(to="/family/new" active) Add Family
          b-nav-item(to="/equipment/new" active) Add Equipment
          b-nav-item(to="/group/new" active) Add Group
      b-col(cols="10")
        //- route outlet
        //- component matched by the route will render here
        router-view

append endbody
  script(src=`${process.env.STATIC_ASSETS_PATH}/javascripts/ui/ProductDbApp.js` type="module")