# Sample env file.
NODE_ENV=development
DEBUG=medten:routes
LOG_LEVEL=debug

DB_HOST=productdb-dev.somwhere.on.the.internet
DB_PORT=0
DB_USER=a
DB_PASSWORD=b
DB_DATABASE=c

# Authentication-related
SENDGRID_API_KEY=
SUPPORT_EMAIL_ADDRESS=
RESET_PASSWORD_URL=
LOGIN_URL=
